body{
    font-size: large;
    background-color: rgb(32, 110, 212);
}

h1{
    text-align: center;
}

.container-center{
    margin: auto;
    width: 30%;
    padding-top: 2rem;
    display: block;
    min-height: 550px;
}

input{ 
    padding: 0.7rem;
    margin: 0.7rem;
    border: none;
    margin-left: 2rem;
}

label{
    margin: 0.7rem;
    font-weight: bold;
    margin-left: 2rem;
}

button{
    margin: 0.7rem;
    padding: 0.8rem 1.5rem;
    font-size: medium;
    color: rgb(32, 110, 212);
    background-color: black;
    border: none;
    margin-left: 2rem;
}

h3{
    text-align: center;
    font-weight: bolder;
}

footer{
    text-align: center;
}